<%= form_for(@adminagentname) do |f| %>
  <% if @adminagentname.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adminagentname.errors.count, "error") %> prohibited this adminagentname from being saved:</h2>

      <ul>
      <% @adminagentname.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :a_common_name %><br>
    <%= f.text_field :a_common_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
