<%= form_for(@adminreferencetype) do |f| %>
  <% if @adminreferencetype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adminreferencetype.errors.count, "error") %> prohibited this adminreferencetype from being saved:</h2>

      <ul>
      <% @adminreferencetype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_of_literatur %><br>
    <%= f.text_field :type_of_literatur %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
