<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">


      <div class="page-header">          
        <h1>
          Tenacity <%= @tenacity.id %>
        </h1>
      </div>

      <div class="col-md-3" id="leftCol">
        <div class="well">    
          <%= render 'layouts/sidebar_show' %>
        </div>
      </div>     

      <div class="col-md-9" id="rightCol"> 
        <div class="well">          
          <div class="panel panel-info">
            <div class="panel-body"> 

              <p>
                <strong>Total sample number:</strong>
                <%= @tenacity.total_sample_number %>
              </p>

              <p>
                <strong>Inoculum concentration initial:</strong>
                <%= @tenacity.inoculum_concentration_initial %>
              </p>

              <p>
                <strong>I concentration unit:</strong>
                <%= @tenacity.i_concentration_unit %>
              </p>

              <!-- tenacityparam einbinden -->
              <p><strong>Tenacity parameter: </strong></p>
              <% @tenacity.tenacityparams.each do |p| %>
                <ul>
                  <li>
                    <strong>Tenacity duration:</strong>
                    <%= p.tena_duration if p.tena_duration %> <%= p.tena_duration_unit if p.tena_duration_unit %>
                  </li>
                  <li>
                    <strong>Final concentration:</strong>
                    <%= p.final_concentration if p.final_concentration %> <%= p.f_concentration_unit if p.f_concentration_unit %>
                  </li>
                  <li>
                    <strong>Decimal reduction:</strong>
                    <%= p.decimal_reduction if p.decimal_reduction %>
                  </li>   
                  <li>
                    <strong>Tenacity Comment:</strong>
                    <%= p.tena_comment if p.tena_comment %>
                  </li>                               
                </ul>
              <% end %>

              <p>
                <strong>Reference:</strong>
                <%= @tenacity.reference_id %>
              </p>

              <p>
                <strong>User:</strong>
                <%= @tenacity.user_id %>
              </p>

            </div>
          </div>    
          <%= link_to 'Edit Tenacity', edit_tenacity_path(@tenacity), class: "btn btn-warning btn-sm" %> |  | 
          <% if params[:clone] == "attributes" %>
            
          <% else %>
            <%= link_to "Duplicate", tenacity_path(clone: "attributes"), class: "btn btn-success btn-sm"  %>
          <% end %>
          <%= link_to 'Delete', @tenacity, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %> | 
          <%= link_to 'Back to all Tenacities', tenacities_path, class: "btn btn-info btn-sm" %> 
        </div>
      </div>

    </div>     
  </div>
</div>
