<%= form_for(@result) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="well">          
  <div class="panel panel-info">
    <div class="panel-body">

      <div class="form-group">
        <%= f.label :"CfU initial" %><br>
        <%= f.radio_button :cfu_initial_unit, "CfU/Gramm"  %> <%= f.label :cfu_initial_unit, "CfU/Gramm" %>
        <%= f.radio_button :cfu_initial_unit, "CfU/Milliliter"  %> <%= f.label :cfu_initial_unit, "CfU/Milliliter" %>
        <%= f.number_field :cfu_initial, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :"detectability" %>
        <%= f.check_box :detectability%>
      </div>
      <div class="form-group">
        <%= f.label :"cfu_detected " %><br>
        <%= f.radio_button :cfu_detected_unit, "CfU/Gramm"  %> <%= f.label :cfu_detected_unit, "CfU/Gramm" %>
        <%= f.radio_button :cfu_detected_unit, "CfU/Milliliter"  %> <%= f.label :cfu_detected_unit, "CfU/Milliliter" %>        
        <%= f.number_field :cfu_detected, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :"Result comment" %><br>
        <%= f.text_area :r_comment, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Save Result', class: "btn btn-success" %> | | 
    <%= link_to 'Cancel', results_path, class: "btn btn-danger" %>
  </div>
  <% end %>
</div>
