<%= nested_form_for(@agent) do |f| %>
  <% if @agent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agent.errors.count, "error") %> prohibited this agent from being saved:</h2>

      <ul>
      <% @agent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="well">          
  <div class="panel panel-info">
    <div class="panel-body"> 
      <%= render 'form_agent', f: f %>
      <%= f.fields_for :agentparams do |builder| %>
        <%= render 'agentparam_fields', f: builder %>
      <% end %>
      <p><%= f.link_to_add "Add more exposure to hazard attribute fields.", :agentparams, class: "btn btn-success btn-sm" %></p>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Save Agent', class: "btn btn-success" %> | | 
    <%= link_to 'Cancel', agents_path, class: "btn btn-danger" %>
  </div>
  <% end %>
</div>
