<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">


      <div class="page-header">          
        <h1>
          Spiking Method <%= @spiking.spik_short_name %>
        </h1>
      </div>

      <div class="col-md-3" id="leftCol">
        <div class="well">    
          <%= render 'layouts/sidebar_show' %>
        </div>
      </div>     

      <div class="col-md-9" id="rightCol"> 
        <div class="well">          
          <div class="panel panel-info">
            <div class="panel-body"> 

              <p>
                <strong>Spik short name:</strong>
                <%= @spiking.spik_short_name %>
              </p>

              <p>
                <strong>Spik long name:</strong>
                <%= @spiking.spik_long_name %>
              </p>

              <p>
                <strong>Spik process description:</strong>
                <%= @spiking.spik_process_description %>
              </p>

              <p>
                <strong>Spik device needed:</strong>
                <%= @spiking.spik_device_needed %>
              </p>

              <p>
                <strong>Pros:</strong>
                <%= @spiking.pros %>
              </p>

              <p>
                <strong>Cons:</strong>
                <%= @spiking.cons %>
              </p>
              <!-- Spikingparam einbinden -->
              <p><strong>Spiking parameter: </strong></p>
              <% @spiking.spikingparams.each do |p| %>
                <ul>
                  <li>
                    <strong>Spiking weight of samle:</strong>
                    <%= p.spik_weight_of_sample if p.spik_weight_of_sample %> <%= p.spik_weight_of_sample_unit if p.spik_weight_of_sample_unit %>
                  </li>
                  <li>
                    <strong>CfU/ml of inoculum:</strong>
                    <%= p.cfu_of_inoculum_per_ml if p.cfu_of_inoculum_per_ml %>
                  </li>
                  <li>
                    <strong>CfU/g Spice spiked:</strong>
                    <%= p.cfu_per_gram_spice_spiked if p.cfu_per_gram_spice_spiked %>
                  </li>   
                  <li>
                    <strong>Carrier Substance:</strong>
                    <%= p.carrier_substance if p.carrier_substance %>
                  </li>
                  <li>
                    <strong>Carrier Fluid:</strong>
                    <%= p.carrier_fluid if p.carrier_fluid %>
                  </li>
                  <li>
                    <strong>Spiking duration:</strong>
                    <%= p.spik_duration if p.spik_duration %> <%= p.spik_duration_unit if p.spik_duration_unit %>
                  </li>
                  <li>
                    <strong>Spiking comment:</strong>
                    <%= p.spik_comment if p.spik_comment %>
                  </li>                                 
                </ul>
              <% end %>

              <p>
                <strong>Reference:</strong>
                <%= @spiking.reference.year if @spiking.reference%>
              </p>

              <p>
                <strong>User:</strong>
                <%= @spiking.user_id %>
              </p>


            </div>
          </div>    

          <%= link_to 'Edit Spiking', edit_spiking_path(@spiking), class: "btn btn-warning btn-sm" %> | 
          <% if params[:clone] == "attributes" %>
            
          <% else %>
            <%= link_to "Duplicate", spiking_path(clone: "attributes"), class: "btn btn-success btn-sm"  %>
          <% end %> | 
          <%= link_to 'Delete', @spiking, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %> | 
          <%= link_to 'Back to all Spikings', spikings_path, class: "btn btn-info btn-sm" %>   
        </div>
      </div>

    </div>     
  </div>
</div>
