<%= form_for(@contaminationstatus) do |f| %>
  <% if @contaminationstatus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contaminationstatus.errors.count, "error") %> prohibited this contaminationstatus from being saved:</h2>

      <ul>
      <% @contaminationstatus.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="well">          
  <div class="panel panel-info">
    <div class="panel-body">

      <div class="form-group">
        <%= f.label :cfu_natural_contamination %><br>        
        <%= f.radio_button :cfu_natural_contamination_unit, "CfU/Gramm"  %> <%= f.label :cfu_natural_contamination_unit, "CfU/Gramm" %>
        <%= f.radio_button :cfu_natural_contamination_unit, "CfU/Milliliter"  %> <%= f.label :cfu_natural_contamination_unit, "CfU/Milliliter" %>
        <%= f.text_field :cfu_natural_contamination, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :reference_id %><br>
        <%= select("contaminationstatus", "reference_id", options_for_select(@references_for_dropdown), {:prompt => 'Select Reference'}, {:class => "form-control"}) %>

        <%= f.label :matrix_id %><br>
        <%= select("contaminationstatus", "matrix_id", options_for_select(@matrices_for_dropdown), {:prompt => 'Select Matrix'}, {:class => "form-control"}) %>

        <%= f.label :agent_id %><br>
        <%= select("contaminationstatus", "agent_id", options_for_select(@agents_for_dropdown), {:prompt => 'Select Agent'}, {:class => "form-control"}) %>

        <%= f.label :spiking_id %><br>
        <%= select("contaminationstatus", "spiking_id", options_for_select(@spikings_for_dropdown), {:prompt => 'Select Spiking'}, {:class => "form-control"}) %>

        <%= f.label :treatment_id %><br>
        <%= select("contaminationstatus", "treatment_id", options_for_select(@treatments_for_dropdown), {:prompt => 'Select Treatment'}, {:class => "form-control"}) %>

        <%= f.label :samplepreparation_id %><br>
        <%= select("contaminationstatus", "samplepreparation_id", options_for_select(@samplepreparations_for_dropdown), {:prompt => 'Select Sample-preparation'}, {:class => "form-control"}) %>

        <%= f.label :detection_id %><br>
        <%= select("contaminationstatus", "detection_id", options_for_select(@detections_for_dropdown), {:prompt => 'Select Detection'}, {:class => "form-control"}) %>

        <%= f.label :tenacity_id %><br>
        <%= select("contaminationstatus", "tenacity_id", options_for_select(@tenacities_for_dropdown), {:prompt => 'Select Tenacity'}, {:class => "form-control"}) %>

      </div> 


        <div class="field">
        <%= f.label :result_id %><br>
        <%= f.select :result_id, Result.all.order(:id).collect {|c| [ c.full_res, c.id ] }, { :include_blank => true, :selected => @contaminationstatus.result_id}, class: "form-control" %>
      </div>


    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Save', class: "btn btn-success" %> | | 
    <%= link_to 'Cancel', contaminationstatuses_path, class: "btn btn-danger" %>
  </div>
  <% end %>
</div>

