<%= form_for(@reference) do |f| %>
  <% if @reference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reference.errors.count, "error") %> prohibited this reference from being saved:</h2>

      <ul>
      <% @reference.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="well">          
  <div class="panel panel-info">
    <div class="panel-body">

      <div class="field">
        <%= f.label :"type_of_literatur" %><br>
        <%= f.collection_select :adminreferencetype_id, Adminreferencetype.all.order(:type_of_literatur), :id, :type_of_literatur, {include_blank: true}, {class: "form-control"} %>
      </div>
      <div class="field">
        <%= f.label :first_author_name %><br>
        <%= f.text_field :first_author_name, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :year %><br>
        <%= f.number_field :year, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :journal %><br>
        <%= f.text_field :journal, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :volume %><br>
        <%= f.number_field :volume, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :page_from %><br>
        <%= f.text_field :page_from, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :page_to %><br>
        <%= f.text_field :page_to, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :link %><br>
        <%= f.text_field :link, class: "form-control" %>
      </div>
      <div class="row">
        <div class="panel panel-info">
          <div class="panel-body">
            <h3>This Reference include inforations about: </h3>
            <div class="col-md-3">              
              <div class="field">
                <%= f.check_box :matrix %> 
                <%= f.label :matrix %>
              </div>
              <div class="field">
                <%= f.check_box :agent %>
                <%= f.label :agent %>
              </div>
              <div class="field">
                <%= f.check_box :tenacity %>
                <%= f.label :tenacity %>        
              </div>              
            </div>          
            <div class="col-md-3">
              <div class="field">
                <%= f.check_box :sample_prep %>
                <%= f.label :"Sample preparation" %>
              </div>
              <div class="field">
                <%= f.check_box :detection %>
                <%= f.label :detection %>
              </div>
              <div class="field">
                <%= f.check_box :spiking %>
                <%= f.label :spiking %>
              </div>
              <div class="field">
                <%= f.check_box :treatment %>
                <%= f.label :treatment %>
              </div>
            </div>
          </div>
        </div> 
      </div>    
      <div class="field">
        <%= f.label :"Reference comment" %><br>
        <%= f.text_area :r_comment, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.label :user_id %><br>
        <%= f.number_field :user_id , class: "form-control"%>
      </div>


    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Save Reference', class: "btn btn-success" %> | | 
    <%= link_to 'Cancel', references_path, class: "btn btn-danger" %>
  </div>
  <% end %>
</div>
